<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.mapper.SetmealMapper">

    <insert id="addSetmeal" keyProperty="id" useGeneratedKeys="true" parameterType="setmealEntity">
        insert into setmeal
        (name, price, status, category_id, description, image, create_user, update_user, create_time, update_time)
        values (#{name}, #{price}, #{status}, #{categoryId}, #{description}, #{image}, #{createUser}, #{updateUser},
                #{createTime}, #{updateTime})
    </insert>
    <select id="querySetmealByPage" resultType="com.wh.vo.SetmealVO">
        select s.*, c.name as categoryName
        from setmeal s
        left join category c on s.category_id = c.id
        <where>
            <if test="name != null">and s.name like concat('%',#{name},'%')</if>
            <if test="status != null">and s.status = #{status}</if>
            <if test="categoryId != null">and s.category_id = #{categoryId}</if>
        </where>
        order by s.create_time desc
    </select>
</mapper>