<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.mapper.ShoppingCartMapper">
    <insert id="addShoppingCart">
        insert into shopping_cart (name, user_id, dish_id, setmeal_id, dish_flavor, number, amount, image, create_time)
        values (#{name}, #{userId}, #{dishId}, #{setmealId}, #{dishFlavor}, #{number}, #{amount}, #{image},
                #{createTime})
    </insert>
    <insert id="addShoppingCartBatch" parameterType="list">
        insert into shopping_cart (name, user_id, dish_id, setmeal_id, dish_flavor, number, amount, image, create_time)
        values
        <foreach
                collection="shoppingCartList" item="sc" separator=",">
            (#{sc.name}, #{sc.userId}, #{sc.dishId}, #{sc.setmealId}, #{sc.dishFlavor}, #{sc.number}, #{sc.amount},
            #{sc.image}, #{sc.createTime})
        </foreach>
    </insert>

    <select id="queryShoppingCarts" resultType="ShoppingCartEntity" parameterType="shoppingCartEntity">
        select *
        from shopping_cart
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="dishId != null">and dish_id = #{dishId}</if>
            <if test="setmealId != null">and setmeal_id = #{setmealId}</if>
            <if test="dishFlavor != null">and dish_flavor = #{dishFlavor}</if>
        </where>
        order by create_time desc
    </select>
</mapper>